# 고유 날짜 인덱스를 활용하는방법

In [1]:
import pandas as pd

df = pd.read_csv("stock-data.csv")
df['new_date'] = pd.to_datetime(df['Date'])
df.set_index('new_date', inplace=True)
df.drop('Date', axis=1, inplace=True)
df.head()

            Close  Start   High    Low  Volume
new_date
2018-07-02  10100  10850  10900  10000  137977
2018-06-29  10700  10550  10900   9990  170253
2018-06-28  10400  10900  10950  10150  155769
2018-06-27  10900  10800  11050  10500  133548
2018-06-26  10800  10900  11000  10700   63039

In [2]:
df.index

DatetimeIndex(['2018-07-02', '2018-06-29', '2018-06-28', '2018-06-27',
               '2018-06-26', '2018-06-25', '2018-06-22', '2018-06-21',
               '2018-06-20', '2018-06-19', '2018-06-18', '2018-06-15',
               '2018-06-14', '2018-06-12', '2018-06-11', '2018-06-08',
               '2018-06-07', '2018-06-05', '2018-06-04', '2018-06-01'],
              dtype='datetime64[ns]', name='new_date', freq=None)

In [4]:
df_y=df['2018']
df_y.head()

            Close  Start   High    Low  Volume
new_date
2018-07-02  10100  10850  10900  10000  137977
2018-06-29  10700  10550  10900   9990  170253
2018-06-28  10400  10900  10950  10150  155769
2018-06-27  10900  10800  11050  10500  133548
2018-06-26  10800  10900  11000  10700   63039

In [5]:
df_ym=df.loc['2018-07']
df_ym

            Close  Start   High    Low  Volume
new_date
2018-07-02  10100  10850  10900  10000  137977

In [7]:
df_ym_cols=df.loc['2018-07','Start':'High']
df_ym_cols

            Start   High
new_date
2018-07-02  10850  10900

In [8]:
df_ymd_range=df['2018-06-25':'2018-06-20']
df_ymd_range

            Close  Start   High    Low  Volume
new_date
2018-06-25  11150  11400  11450  11000   55519
2018-06-22  11300  11250  11450  10750  134805
2018-06-21  11200  11350  11750  11200  133002
2018-06-20  11550  11200  11600  10900  308596