# 분류 알고리즘
- 예측하려는 대상의 속성을 입력하고, 목표변수가 갖고 있는 카테고리 값 중에서 어느 한 값을 분류하여 예측.
- 고객분류, 질병진단, 스팸메일필터링, 음성인식등 목표변수가 카테고리 값을 갖는 경우에 사용.
> 분류 알고리즘의 종류  
KNN, SVM, Decision Tree, Logistic Regression 등 다양한 알고리즘이 존재.

# KNN((K-Nearest Neighbor) 알고리즘
- https://gomguard.tistory.com/51
- 새로운 관측값이 주어지면, 기존 데이터 중에서 가장 속성이 비슷한 K개의 이웃을 찾는다. 그리고, 가까운 이웃들이 가지고 있는 목표 값과 같은 값으로 분류하여 예측한다.
- k값에 따라 예측의 정확도가 달라짐으로, 적절한 k값을 찾는 것이 중요!
- 이웃과의 유사성을 측정하기 위한 수학적 개념

In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
df= sns.load_dataset('titanic')

In [3]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [5]:
rdf=df.drop(['deck','embark_town'],axis=1)

In [6]:
rdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   survived    891 non-null    int64
 1   pclass      891 non-null    int64
 2   sex         891 non-null    object
 3   age         714 non-null    float64
 4   sibsp       891 non-null    int64
 5   parch       891 non-null    int64
 6   fare        891 non-null    float64
 7   embarked    889 non-null    object
 8   class       891 non-null    category
 9   who         891 non-null    object
 10  adult_male  891 non-null    bool
 11  alive       891 non-null    object
 12  alone       891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(4)
memory usage: 72.4+ KB

In [7]:
rdf=rdf.dropna(subset=['age'],how='any',axis=0)

In [8]:
rdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   survived    714 non-null    int64
 1   pclass      714 non-null    int64
 2   sex         714 non-null    object
 3   age         714 non-null    float64
 4   sibsp       714 non-null    int64
 5   parch       714 non-null    int64
 6   fare        714 non-null    float64
 7   embarked    712 non-null    object
 8   class       714 non-null    category
 9   who         714 non-null    object
 10  adult_male  714 non-null    bool
 11  alive       714 non-null    object
 12  alone       714 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(4)
memory usage: 63.6+ KB

In [9]:
most_freq=rdf['embarked'].value_counts(dropna=True).idxmax()

In [10]:
rdf['embarked'].fillna(most_freq, inplace=True)

In [11]:
ndf=rdf[['survived','pclass','sex','age','sibsp','parch','embarked']]

In [12]:
ndf.head()

   survived  pclass     sex   age  sibsp  parch embarked
0         0       3    male  22.0      1      0        S
1         1       1  female  38.0      1      0        C
2         1       3  female  26.0      0      0        S
3         1       1  female  35.0      1      0        S
4         0       3    male  35.0      0      0        S

## 원핫 인코딩 : 특정 값을 더미변수로 만들어 줄때 그 과정을 원핫 인코딩이라고 한다.
- sex는 female과 male 값을 가지는 2개의 더미 변수 열로 만들자
- embarked는 (앞에 town_을 붙여) 3개의 더미변수를 만든다.

In [13]:
onehot_sex=pd.get_dummies((ndf['sex']))

In [14]:
ndf=pd.concat([ndf,onehot_sex],axis=1)

In [15]:
onehot_embarked=pd.get_dummies(ndf['embarked'],prefix='town')

In [16]:
ndf=pd.concat([ndf,onehot_embarked],axis=1)

In [17]:
ndf.drop(['sex','embarked'],axis=1,inplace=True)
ndf

,survived,pclass,age,sibsp,parch,female,male,town_C,town_Q,town_S
0,0,3,22.0,1,0,0,1,0,0,1
1,1,1,38.0,1,0,1,0,1,0,0
2,1,3,26.0,0,0,1,0,0,0,1
3,1,1,35.0,1,0,1,0,0,0,1
4,0,3,35.0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
885,0,3,39.0,0,5,1,0,0,1,0
886,0,2,27.0,0,0,0,1,0,0,1
887,1,1,19.0,0,0,1,0,0,0,1
889,1,1,26.0,0,0,0,1,1,0,0
890,0,3,32.0,0,0,0,1,0,1,0

## 훈련용/검증용 데이터셋 구분
- 속성 변수 선택

In [18]:
X=ndf[['pclass','age','sibsp','parch','female','male','town_C','town_Q','town_S']]

In [19]:
Y=ndf['survived']

## 설명 변수 데이터를 정규화

In [20]:
from sklearn import preprocessing

In [21]:
X=preprocessing.StandardScaler().fit(X).transform(X)

train data와 test data를 7:3 으로 구별

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=10)

In [24]:
print("X_train data의 갯수 : ", X_train.shape)
print("X_test data의 갯수 : ", X_test.shape)

X_train data의 갯수 :  (499, 9)
X_test data의 갯수 :  (215, 9)

## KNN분류 모형을 사용

In [25]:
from sklearn.neighbors import KNeighborsClassifier

- 이웃하는 k의 갯수를 설정하여 모형 객체를 생성

In [26]:
knn=KNeighborsClassifier(n_neighbors=5)

* train data를 가지고 모형 학습

In [27]:
knn.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [28]:
y_hat=knn.predict(X_test)

In [29]:
print(y_hat[0:20])
print(Y_test.values[0:20])

[0 0 1 0 0 1 1 1 0 0 1 1 0 0 0 1 0 0 1 1]
[0 0 1 0 0 1 1 1 0 0 1 0 0 0 0 1 0 0 0 1]

## 모형 성능 평가
- Confusion Matrix 계산

In [30]:
from sklearn import metrics

In [31]:
knn_metrix = metrics.confusion_matrix(Y_test,y_hat)

In [32]:
print(knn_metrix)

[[109  16]
 [ 25  65]]

\[[TP (True Positive) , FP(False Positive)]  
[FN(False Nagative) , TN(True Nagative)]]

In [33]:
knn_report=metrics.classification_report(Y_test,y_hat)

In [34]:
print(knn_report)

              precision    recall  f1-score   support

           0       0.81      0.87      0.84       125
           1       0.80      0.72      0.76        90

    accuracy                           0.81       215
   macro avg       0.81      0.80      0.80       215
weighted avg       0.81      0.81      0.81       215

# SVM(Support Vector Machine) 알고리즘
- 벡터의 개념을 가져와서 사용
- 데이터 프레임의 각 열을 열 벡터 형태로 구현
- 열 벡터들이 각각 고유의 축을 갖는 벡터공간을 만드는데, 분석대상이 되는 개별 관측값은 모든 열벡터에 관한 값을 해당 축의 좌표로 표시하여 벡터 공간에서의 위치를 나타낸다.
- 속성(열벡터)이 2개가 존재하면 데이터셋을 2차원 평면공간에 좌표를 표시,속성이 3개면 3차원 공간에 표시,

## sklearn 라이브러리에서 SVM 분류 모형 가져오기

In [35]:
from sklearn import svm

In [36]:
svm_model = svm.SVC(kernel='rbf')

In [37]:
svm_model.fit(X_train, Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [38]:
y_hat = svm_model.predict(X_test)

In [39]:
knn_metrix = metrics.confusion_matrix(Y_test,y_hat)
print(knn_metrix)

[[120   5]
 [ 35  55]]

In [40]:
knn_report=metrics.classification_report(Y_test,y_hat)
print(knn_report)

              precision    recall  f1-score   support

           0       0.77      0.96      0.86       125
           1       0.92      0.61      0.73        90

    accuracy                           0.81       215
   macro avg       0.85      0.79      0.80       215
weighted avg       0.83      0.81      0.81       215

## Dicision Tree : 의사결정 트리
- 컴퓨터 알고리즘에서 많이 사용하는 Tree구조를 사용
- 각 분기점(nedo)에는 분석 대상의 속성들이 위치
- 각 분기점마다 목표값을 가장 잘 분류할 수 있는 속성을 찾아 배치하고, 해당 속성이 갖는 값을 이용하여 새로운 가지(branch)를 만든다.
- 각 분기점에서 최적의 속성을 선택할 때는 해당 속성을 기준으로 분류한 값들이 구분되는 정도를 측정
- 다른 종류 값들이 섞여 있는 정도를 나타내는 Entroy를 주로 활용(Entropy가 낮을수록 좋다)

In [41]:
uci_path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/\
breast-cancer-wisconsin/breast-cancer-wisconsin.data'
df = pd.read_csv(uci_path, header=None)

df.columns = ['id','clump','cell_size','cell_shape', 'adhesion','epithlial',
              'bare_nuclei','chromatin','normal_nucleoli', 'mitoses', 'class']

In [42]:
df.head()

,id,clump,cell_size,cell_shape,adhesion,epithlial,bare_nuclei,chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               699 non-null    int64
 1   clump            699 non-null    int64
 2   cell_size        699 non-null    int64
 3   cell_shape       699 non-null    int64
 4   adhesion         699 non-null    int64
 5   epithlial        699 non-null    int64
 6   bare_nuclei      699 non-null    object
 7   chromatin        699 non-null    int64
 8   normal_nucleoli  699 non-null    int64
 9   mitoses          699 non-null    int64
 10  class            699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [44]:
df['bare_nuclei'].unique()

array(['1', '10', '2', '4', '3', '9', '7', '?', '5', '8', '6'],
      dtype=object)

In [45]:
df['bare_nuclei'].replace('?',np.nan,inplace=True)

In [46]:
df.dropna(subset=['bare_nuclei'],axis=0,inplace=True)

In [47]:
df['bare_nuclei']=df['bare_nuclei'].astype('int')

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               683 non-null    int64
 1   clump            683 non-null    int64
 2   cell_size        683 non-null    int64
 3   cell_shape       683 non-null    int64
 4   adhesion         683 non-null    int64
 5   epithlial        683 non-null    int64
 6   bare_nuclei      683 non-null    int32
 7   chromatin        683 non-null    int64
 8   normal_nucleoli  683 non-null    int64
 9   mitoses          683 non-null    int64
 10  class            683 non-null    int64
dtypes: int32(1), int64(10)
memory usage: 61.4 KB

In [49]:
df.describe()

,id,clump,cell_size,cell_shape,adhesion,epithlial,bare_nuclei,chromatin,normal_nucleoli,mitoses,class
count,6.830000e+02,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000
mean,1.076720e+06,4.442167,3.150805,3.215227,2.830161,3.234261,3.544656,3.445095,2.869693,1.603221,2.699854
std,6.206440e+05,2.820761,3.065145,2.988581,2.864562,2.223085,3.643857,2.449697,3.052666,1.732674,0.954592
min,6.337500e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.776170e+05,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171795e+06,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238705e+06,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [62]:
X=df.iloc[:,1:-1]

In [63]:
Y=df['class']

In [64]:
# 설명 변수 데이터를 정규화
from sklearn import preprocessing
X = preprocessing.StandardScaler().fit(X).transform(X)

# train data와 test data를 7:3으로 구별
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y,
                                           test_size=0.3, random_state=10)

print("train data의 갯수 : ", X_train.shape)
print("test data의 갯수 : ", X_test.shape)

train data의 갯수 :  (478, 9)
test data의 갯수 :  (205, 9)

sklearn 라이브러리에서 Decision Tree 분류 모형 가져오기

In [65]:
from sklearn import tree

In [66]:
# 최적의 속성을 찾기위해 분류정도를 평가하는 기준
# 레벨은 5로 설정, 5단계까지 확장할 수 있다는 뜻
tree_model=tree.DecisionTreeClassifier(criterion='entropy',max_depth=5)

In [67]:
tree_model.fit(X_train, Y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [68]:
y_hat=tree_model.predict(X_test)

In [69]:
knn_metrix = metrics.confusion_matrix(Y_test,y_hat)
print(knn_metrix)

[[127   4]
 [  2  72]]

In [70]:
knn_report=metrics.classification_report(Y_test,y_hat)
print(knn_report)

              precision    recall  f1-score   support

           2       0.98      0.97      0.98       131
           4       0.95      0.97      0.96        74

    accuracy                           0.97       205
   macro avg       0.97      0.97      0.97       205
weighted avg       0.97      0.97      0.97       205