# DATA파일 만들기

In [1]:
import pandas as pd
import numpy as np

In [2]:
data={'name':['유재석','강호동','홍길동'],
      '수학':[100,90,80],
      '영어':[80,85,90],
      '음악':[70,75,50]
     }

In [3]:
df=pd.DataFrame(data)
df

  name   수학  영어  음악
0  유재석  100  80  70
1  강호동   90  85  75
2  홍길동   80  90  50

In [4]:
df2=df.set_index('name')
df2

       수학  영어  음악
name
유재석   100  80  70
강호동    90  85  75
홍길동    80  90  50

## csv파일로 내보내기:to_csv()

In [5]:
df.to_csv('write_sample.csv')

## json파일로 내보내기:to_json()

In [6]:
df.to_json('write_sample.json')

## excel파일로 내보내기:to_excel()

In [7]:
df.to_excel('write_sample.xlsx')