# DataFrame
- 2차원 배열
- 2차원 배여을 가지는 구조 : excel, RDBMS(관계형데이터베이스)...
- 판다스의 데이터프레임 구조 : R의 데이터프레임에서 유래
- 데이터프레임의 열은 각각 시리즈 객체

## dict -> DataFrame

In [1]:
import pandas as pd
import numpy as np

dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12]}
df=pd.DataFrame(dict_data)
df
type(df)

   c0  c1  c2  c3
0   1   4   7  10
1   2   5   8  11
2   3   6   9  12

pandas.core.frame.DataFrame

--------

In [2]:
# DataFrame(2차원배열, index="행index배열", columns="열이름배열")

df =pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],index=['준서','예은'],columns=['나이','성별','학교'])
df
df.index
df.columns

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

Index(['준서', '예은'], dtype='object')

Index(['나이', '성별', '학교'], dtype='object')

In [3]:
df.index=['학생1','학생2']
df

     나이 성별   학교
학생1  15  남  덕영중
학생2  17  여  수리중

In [4]:
df.columns=['연령','남녀','소속']
df

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [5]:
a=df.rename(columns={'연령':'나이','남녀':'성별','소속':'학교'})
df
a

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

     나이 성별   학교
학생1  15  남  덕영중
학생2  17  여  수리중

In [6]:
b=df.rename(index={'학생1':'준서','학생2':'예은'})
df
b

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

    연령 남녀   소속
준서  15  남  덕영중
예은  17  여  수리중

In [7]:
c=df.rename(columns={'연령':'연세'})
c

     연세 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [8]:
d=df.rename(columns={'소속':'그룹'},inplace=True)
df
d

     연령 남녀   그룹
학생1  15  남  덕영중
학생2  17  여  수리중