## 열선택

In [2]:
import numpy as np
import pandas as pd

exam_data = {'이름':['학생1','학생2','학생3'],'수학': [90, 80, 70], '영어': [98, 89, 95],
             '음악': [85, 95, 100], '체육': [100, 95, 95]}
df = pd.DataFrame(exam_data)
df

    이름  수학  영어   음악   체육
0  학생1  90  98   85  100
1  학생2  80  89   95   95
2  학생3  70  95  100   95

In [3]:
math=df['수학']
math

0    90
1    80
2    70
Name: 수학, dtype: int64

In [4]:
english=df.영어
english

0    98
1    89
2    95
Name: 영어, dtype: int64

In [5]:
music_gym=df[['음악','체육']]
music_gym

    음악   체육
0   85  100
1   95   95
2  100   95