## 행선택
- loc : 인덱스의 이름으로 행을 선택하고자 할때 사용
* iloc : 정수형 인덱스를 사용할때 사용

In [1]:
import numpy as np
import pandas as pd

exam_data = {'수학': [90, 80, 70], '영어': [98, 89, 95],
             '음악': [85, 95, 100], '체육': [100, 95, 95]}
df = pd.DataFrame(exam_data, index=['학생1', '학생2', '학생3'])
df

     수학  영어   음악   체육
학생1  90  98   85  100
학생2  80  89   95   95
학생3  70  95  100   95

In [2]:
label=df.loc['학생1']
label

수학     90
영어     98
음악     85
체육    100
Name: 학생1, dtype: int64

In [3]:
position = df.iloc[0]
position

수학     90
영어     98
음악     85
체육    100
Name: 학생1, dtype: int64

In [4]:
label2=df.loc[['학생1','학생3']]
label2

     수학  영어   음악   체육
학생1  90  98   85  100
학생3  70  95  100   95

In [5]:
position2=df.iloc[[0,1]]
position2

     수학  영어  음악   체육
학생1  90  98  85  100
학생2  80  89  95   95

In [7]:
position3=df.iloc[0:2]
position3

     수학  영어  음악   체육
학생1  90  98  85  100
학생2  80  89  95   95