In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc

# 글꼴 설정
font_path = "C:\Windows\Fonts\H2HDRM.TTF"
font_name = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font_name)

# 파일 가져오기
file_path = "../day03/시도별 전출입 인구수.xlsx"
df = pd.read_excel(file_path, header=0)
df = df.fillna(method='ffill')

# 파일에서 서울에서 전입지별만 뽑아오기
mask = (df['전출지별'] == '서울특별시') & (df['전입지별'] != '서울특별시')
df_seoul = df[mask]
df_seoul = df_seoul.drop(['전출지별'], axis=1)
df_seoul.rename({'전입지별':'전입지'}, axis=1, inplace=True)
df_seoul.set_index('전입지', inplace=True)

col_years = list(map(str, range(1970, 2018)))
df_4 = df_seoul.loc[['충청남도', '경상북도', '강원도', '전라남도'], col_years]
print(df_4)

df_4 = df_4.transpose()
df_4

       1970   1971   1972   1973   1974   1975   1976   1977   1978   1979  \
전입지
충청남도  15954  18943  23406  27139  25509  51205  41447  43993  48091  45388
경상북도  11868  16459  22073  27531  26902  46177  40376  41155  42940  43565
강원도    9352  12885  13561  16481  15479  27837  25927  25415  26700  27599
전라남도  10513  16755  20157  22160  21314  46610  46251  43430  44624  47934

      ...   2008   2009   2010   2011   2012   2013   2014   2015   2016  \
전입지   ...
충청남도  ...  27458  24889  24522  24723  22269  21486  21473  22299  21741
경상북도  ...  15425  16569  16042  15818  15191  14420  14456  15113  14236
강원도   ...  23668  23331  22736  23624  22332  20601  21173  22659  21590
전라남도  ...  16601  17468  16429  15974  14765  14187  14591  14598  13065

       2017
전입지
충청남도  21020
경상북도  12464
강원도   21016
전라남도  12426

[4 rows x 48 columns]

전입지    충청남도   경상북도    강원도   전라남도
1970  15954  11868   9352  10513
1971  18943  16459  12885  16755
1972  23406  22073  13561  20157
1973  27139  27531  16481  22160
1974  25509  26902  15479  21314
1975  51205  46177  27837  46610
1976  41447  40376  25927  46251
1977  43993  41155  25415  43430
1978  48091  42940  26700  44624
1979  45388  43565  27599  47934
1980  54480  48839  32858  56251
1981  51369  30928  32116  57645
1982  48834  27440  31013  55408
1983  55344  29601  31308  57737
1984  50318  26842  30470  52779
1985  49520  26297  29911  52629
1986  47888  26221  28489  41082
1987  48678  27844  28699  42667
1988  49038  26235  26691  40695
1989  31707  22374  26394  36188
1990  29993  21490  26591  35589
1991  28211  19054  25208  29925
1992  26600  19342  25215  27258
1993  25958  17604  23244  25554
1994  22293  16067  21384  21737
1995  26501  17064  24987  24100
1996  27159  16899  25221  23790
1997  27395  15271  25178  22773
1998  25928  16103  25840  26176
1999  26726  16604  25741  29161
2000  23083  14576  22832  22969
2001  22056  14303  22941  22457
2002  21155  13762  21582  18179
2003  24942  13938  21696  20432
2004  30246  13414  22071  16529
2005  26012  14550  20483  17049
2006  25986  15285  21969  17329
2007  28898  15448  22177  17717
2008  27458  15425  23668  16601
2009  24889  16569  23331  17468
2010  24522  16042  22736  16429
2011  24723  15818  23624  15974
2012  22269  15191  22332  14765
2013  21486  14420  20601  14187
2014  21473  14456  21173  14591
2015  22299  15113  22659  14598
2016  21741  14236  21590  13065
2017  21020  12464  21016  12426

In [2]:
# 스타일 서식 지정
plt.style.use('ggplot')

df_4.index=df_4.index.map(int)