## 행, 열의 위치 바꾸기
- df.transpose(), df.T

In [1]:
import numpy as np
import pandas as pd

exam_data = {'이름':['학생1','학생2','학생3'],'수학': [90, 80, 70], '영어': [98, 89, 95],
             '음악': [85, 95, 100], '체육': [100, 95, 95]}
df = pd.DataFrame(exam_data)
df

    이름  수학  영어   음악   체육
0  학생1  90  98   85  100
1  학생2  80  89   95   95
2  학생3  70  95  100   95

In [2]:
a=df.T#클래스의 속성사용해서 바꾸기
a

      0    1    2
이름  학생1  학생2  학생3
수학   90   80   70
영어   98   89   95
음악   85   95  100
체육  100   95   95

In [3]:
b=df.transpose() #메소드를 사용해서 바꾸기
b

      0    1    2
이름  학생1  학생2  학생3
수학   90   80   70
영어   98   89   95
음악   85   95  100
체육  100   95   95