In [1]:
import pandas as pd

# 데이터의 표준화

## 수치변환하기 

> auto_mpg.csv 파일에 mpg열을 km/l 로 변경해보기

In [2]:
import shutil
# shutil.move ('C:/Users/i7B/Downloads/auto-mpg.csv','auto-mpg,csv')

In [3]:
df=pd.read_csv('auto-mpg,csv')
df.columns=['mpg','cylinders','displacement','horsepower','weight','acceleration','model year','origin','name']

df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
1,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
2,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
3,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
4,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500

In [4]:
# 1마일은 : 1.60934킬로, 1 갤런 : 3.78541 리터

In [5]:
mpg_to_kpl=1.60934/3.78541
mpg_to_kpl

0.42514285110463595

In [6]:
df['kpl']=df['mpg']*mpg_to_kpl
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name,kpl
0,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,6.377143
1,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,7.652571
2,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst,6.802286
3,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino,7.227428
4,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500,6.377143

In [7]:
df['kpl']=df['kpl'].round(2)
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name,kpl
0,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,6.38
1,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,7.65
2,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst,6.80
3,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino,7.23
4,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500,6.38
...,...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl,11.48
393,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup,18.71
394,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage,13.60
395,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger,11.90
396,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10,13.18

## 데이터 타입 변경하기

In [8]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
name             object
kpl             float64
dtype: object

### 문자(object)->실수

In [14]:
df['horsepower'].unique()

array(['165.0', '150.0', '140.0', '198.0', '220.0', '215.0', '225.0',
       '190.0', '170.0', '160.0', '95.00', '97.00', '85.00', '88.00',
       '46.00', '87.00', '90.00', '113.0', '200.0', '210.0', '193.0', '?',
       '100.0', '105.0', '175.0', '153.0', '180.0', '110.0', '72.00',
       '86.00', '70.00', '76.00', '65.00', '69.00', '60.00', '80.00',
       '54.00', '208.0', '155.0', '130.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [15]:
import numpy as np

In [18]:
df['horsepower'].replace('?',np.nan,inplace=True)
df['horsepower'].unique()

array(['165.0', '150.0', '140.0', '198.0', '220.0', '215.0', '225.0',
       '190.0', '170.0', '160.0', '95.00', '97.00', '85.00', '88.00',
       '46.00', '87.00', '90.00', '113.0', '200.0', '210.0', '193.0', nan,
       '100.0', '105.0', '175.0', '153.0', '180.0', '110.0', '72.00',
       '86.00', '70.00', '76.00', '65.00', '69.00', '60.00', '80.00',
       '54.00', '208.0', '155.0', '130.0', '112.0', '92.00', '145.0',
       '137.0', '158.0', '167.0', '94.00', '107.0', '230.0', '49.00',
       '75.00', '91.00', '122.0', '67.00', '83.00', '78.00', '52.00',
       '61.00', '93.00', '148.0', '129.0', '96.00', '71.00', '98.00',
       '115.0', '53.00', '81.00', '79.00', '120.0', '152.0', '102.0',
       '108.0', '68.00', '58.00', '149.0', '89.00', '63.00', '48.00',
       '66.00', '139.0', '103.0', '125.0', '133.0', '138.0', '135.0',
       '142.0', '77.00', '62.00', '132.0', '84.00', '64.00', '74.00',
       '116.0', '82.00'], dtype=object)

In [20]:
df['horsepower']=df['horsepower'].astype('float')
df['horsepower'].unique()

array([165., 150., 140., 198., 220., 215., 225., 190., 170., 160.,  95.,
        97.,  85.,  88.,  46.,  87.,  90., 113., 200., 210., 193.,  nan,
       100., 105., 175., 153., 180., 110.,  72.,  86.,  70.,  76.,  65.,
        69.,  60.,  80.,  54., 208., 155., 130., 112.,  92., 145., 137.,
       158., 167.,  94., 107., 230.,  49.,  75.,  91., 122.,  67.,  83.,
        78.,  52.,  61.,  93., 148., 129.,  96.,  71.,  98., 115.,  53.,
        81.,  79., 120., 152., 102., 108.,  68.,  58., 149.,  89.,  63.,
        48.,  66., 139., 103., 125., 133., 138., 135., 142.,  77.,  62.,
       132.,  84.,  64.,  74., 116.,  82.])

In [23]:
df['horsepower'].dtypes

dtype('float64')

### 숫자->문자(object)

In [24]:
df['origin'].unique()

array([1, 3, 2], dtype=int64)

In [26]:
df['origin'].replace({1:'USA',2:'EU',3:'JAPAN'}, inplace=True)
df['origin'].unique()

array(['USA', 'JAPAN', 'EU'], dtype=object)

### 문자(object)->범주(category)

In [27]:
df['origin']=df['origin'].astype('category')
df['origin'].dtypes

CategoricalDtype(categories=['EU', 'JAPAN', 'USA'], ordered=False)