In [1]:
import pandas as pd
import numpy as np

# 정규화
- 숫자 데이터의 상대적 크기 차이가 많이 나면 분석결과가 틀려지는 경우가 발생
- 따라서, 숫자 데이터의 상대적인 크기 차이를 제거할 필요가 있다.
- 각 열에 속하는 데이터 값을 동일한 크기 기준으로 나눈 비율로 나타내는것
- 정규화를 거친 데이터의 범위는 0~1이거나 -1~1값이 된다.

In [3]:
df=pd.read_csv('auto-mpg,csv')
df.columns=['mpg','cylinders','displacement','horsepower','weight','acceleration','model year','origin','name']

df['horsepower'].replace('?', np.nan, inplace=True)
df.dropna(subset=['horsepower'], axis=0, inplace=True)
df['horsepower']=df['horsepower'].astype('float')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
1,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
2,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
3,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
4,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500

In [4]:
df.horsepower.describe()

count    391.000000
mean     104.404092
std       38.518732
min       46.000000
25%       75.000000
50%       93.000000
75%      125.000000
max      230.000000
Name: horsepower, dtype: float64

In [6]:
df.horsepower=df.horsepower/abs(df.horsepower.max())
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,15.0,8,350.0,0.717391,3693.0,11.5,70,1,buick skylark 320
1,18.0,8,318.0,0.652174,3436.0,11.0,70,1,plymouth satellite
2,16.0,8,304.0,0.652174,3433.0,12.0,70,1,amc rebel sst
3,17.0,8,302.0,0.608696,3449.0,10.5,70,1,ford torino
4,15.0,8,429.0,0.860870,4341.0,10.0,70,1,ford galaxie 500

In [7]:
df.horsepower.describe()

count    391.000000
mean       0.453931
std        0.167473
min        0.200000
25%        0.326087
50%        0.404348
75%        0.543478
max        1.000000
Name: horsepower, dtype: float64